@font-face {
    font-family: Optimus Princeps;
    src: url("./fonts/OptimusPrinceps.ttf");
}

body {
    margin: 0;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: 150vw;
    background-attachment: fixed;
    background-position: center;

}
        
header{
    background: black;
    height: 5vh;
    padding: 5vh 5vw;
    border-bottom: 1px solid #b8954f
}

header > span {
    font-family: "Optimus Princeps";
    font-size: 5vh;
    color: white;
}

footer{
    height: 3vh;
    padding: 1vh;
    background: black;
    border-top: 1px solid #b8954f;
}

footer > span, a {
    font-family: "Optimus Princeps";
    font-size: 2vh;
    color: white;
    text-decoration: none;
}

#main {
    min-height: 80vh;
    height: auto;
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 10vh; 
}

.box {
    display: flex;
    margin:0;
    flex-direction: column;
    height: 25vh;
    width: 15vw;
    padding: 5vh 0 5vh 0;
    background: rgba(0, 0, 0, 0.788);
    border: 1px solid #b8954f;
    align-items: center;
    justify-content: space-between;
    font-size: 2.3vh;
    color: white;
    user-select: none;
    cursor: pointer;
}

#grid {
    display:grid;
    grid-template-columns: repeat(4, fit-content(40%));
    gap: 2vh;
}

img {
    max-height: 70%;
    max-width: 80%;
}

@media screen and (max-width: 900px) {
    body{
        margin: 0;
        background-size: auto 120vh;
    }

    header{
        height: 3vh;
        width: 90vw;
    }

    header > span {
        font-size: 4vh;
    }
        
    footer > span, a {
        font-size: 1.5vh;
    }
    
    #main {
        width: 100vw;
        padding: 10vh 0;
    }
    
    .box {
        height: 25vh;
        width: 45vw;
        padding: 5vh 0 5vh 0;
        background: rgba(0, 0, 0, 0.788);
        border: 1px solid #b8954f;
        align-items: center;
        justify-content: space-between;
        font-size: 2.3vh;
        color: white;
        user-select: none;
        cursor: pointer;
    }
    
    #grid {
        display:grid;
        grid-template-columns: repeat(2, fit-content(100%));
        gap: 2vh;
    }
    
    img {
        max-height: 70%;
        max-width: 80%;
    }

}